.angle {
    position: relative;
}

.angle:after {
    content: '';
    position: absolute;
}

/* ------------ Angle 1 ------------ */

.angle1 {
    background-color: var(--color-negro);
}

.angle1:after {
    background-color: var(--color-azul);
    clip-path: polygon(50% 100%, 0 0, 0 0, 100% 0);
}

.angle1, .angle1:after {
    height: 80px;
    width: 100%;
}


/* ------------ Angle 2 ------------ */

.angle2 {
    background-color: var(--color-azul);
}

.angle2:after {
    background-color: var(--color-negro);
    -webkit-clip-path: polygon(0 0, 100% 0, 25% 100%);
    clip-path: polygon(0 0, 100% 0, 25% 100%);
}

.angle2, .angle2:after {
    height: 80px;
    width: 100%;
}


/* ------------ Angle 4 ------------ */

.angle4 {
    background-color: var(--color-negro);
}

.angle4:after {
    background-color: var(--color-blanco);
    clip-path: polygon(0 0, 100% 0, 100% 70%, 77% 100%, 12% 42%, 0 60%);
    
}

.angle4, .angle4:after {
    height: 80px;
    width: 100%;
}

/* ------------ Angle 5 ------------ */

.angle5 {
    background-color: var(--color-blanco);
}

.angle5:after {
    background-color: var(--color-negro);
    clip-path: polygon(0 0, 100% 0, 75% 100%);
}

.angle5, .angle5:after {
    height: 80px;
    width: 100%;
}


/* ------------ Angle 11 ------------ */

.angle11 {
    background-color: var(--color-fucsia);
}

.angle11:after {
    background-color: var(--color-negro);
    clip-path: polygon(50% 100%, 0 0, 0 0, 100% 0);
}

.angle11, .angle11:after {
    height: 80px;
    width: 100%;
}


/* ------------ RESPONSIVE DESIGN ------------ */

/* celulares */
@media screen and (max-width: 651px) { 

    /* ------------ MAIN ------------ */


}

/* tablets */
@media screen and (min-width: 652px) and (max-width: 868px) {

    /* ------------ MAIN ------------ */


}

