.angle {
    position: relative;
}

.angle:after {
    content: '';
    position: absolute;
}

/* ------------ Angle 1 ------------ */

.angle1 {
    background-color: black;
}

.angle1:after {
    background-color: rgba(100,117,238,1);
    clip-path: polygon(50% 100%, 0 0, 0 0, 100% 0);
}

.angle1, .angle1:after {
    height: 80px;
    width: 100%;
}


/* ------------ Angle 2 ------------ */

.angle2 {
    background-color: rgba(100,117,238,1);
}

.angle2:after {
    background-color: #000;
    -webkit-clip-path: polygon(0 0, 100% 0, 25% 100%);
    clip-path: polygon(0 0, 100% 0, 25% 100%);
}

.angle2, .angle2:after {
    height: 80px;
    width: 100%;
}


/* ------------ Angle 4 ------------ */

.angle4 {
    background-color: #000;
}

.angle4:after {
    background-color: #fff;
    clip-path: polygon(0 0, 100% 0, 100% 70%, 77% 100%, 12% 42%, 0 60%);
    
}

.angle4, .angle4:after {
    height: 80px;
    width: 100%;
}

/* ------------ Angle 5 ------------ */

.angle5 {
    background-color: #fff;
}

.angle5:after {
    background-color: #000;
    clip-path: polygon(0 0, 100% 0, 75% 100%);
}

.angle5, .angle5:after {
    height: 80px;
    width: 100%;
}


/* ------------ Angle 11 ------------ */

.angle11 {
    background-color: rgba(251,69,143,1);
}

.angle11:after {
    background-color: black;
    clip-path: polygon(50% 100%, 0 0, 0 0, 100% 0);
}

.angle11, .angle11:after {
    height: 80px;
    width: 100%;
}


/* ------------ RESPONSIVE DESIGN ------------ */

/* celulares */
@media screen and (max-width: 651px) { 

    /* ------------ MAIN ------------ */

    /* .angle1, .angle1:after, .angle2, .angle2:after, .angle4, .angle4:after, .angle5, .angle5:after, .angle11, .angle11:after {
        height: 40px;
        width: 100%;
    } */

}

/* tablets */
@media screen and (min-width: 652px) and (max-width: 868px) {

    /* ------------ MAIN ------------ */
    /* .angle1, .angle1:after {
        height: 80px;
        width: 100%;
    }

    .angle2, .angle2:after {
        height: 80px;
        width: 100%;
    }

    .angle4, .angle4:after {
        height: 80px;
        width: 100%;
    }

    .angle5, .angle5:after {
        height: 80px;
        width: 100%;
    }

    .angle11, .angle11:after {
        height: 80px;
        width: 100%;
    } */

}

