#experiencia {
    position: relative;
}

.contenedor-experiencia {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(10,10,10);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(255,255,255,1) 74%);
    padding: 4rem 0 2rem 0;
}

.contenedor-experiencia__title {
    margin: 1rem 0;
    padding: 1rem;
    /* border: 1px solid black;
    box-shadow: 0 0 10px var(--color-gris-oscuro); */
    border-radius: 1rem;
    background-color: black;
    color: white;
    box-shadow: 0 0 15px 5px #000;
}

.contenedor-experiencia__list {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    margin: 1rem;
    padding: 0 2rem;
}

.contenedor-experiencia__item {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 1rem;
    width: 300px;
    height: 350px;
    padding-top: 1rem;
    margin: 2rem;
    background-color: black; 
    color: #fff;
    box-shadow: 0 0 10px 7px rgba(100,117,238,1);
}

.contenedor-experiencia__item:hover {
    box-shadow: 0 0 10px 7px rgba(251,69,143,1);
    /* background-color: #fff; */
    /* color: #000; */
}

.experiencia-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.experiencia-info__title {
    height: 10%;
    margin-bottom: 1rem;
    font-weight: bold;
}

.experiencia-info__img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.experiencia-info__description {
    width: 90%;
    text-align: justify;
    display: block;
    display: -webkit-box;
    height: 1rem * 1.2 * 4;
    font-size: 1rem;
    line-height: 1.2;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 1rem;
}

.experiencia-info__view {
    /* border: 1px solid var(--color-celeste); */
    border-radius: 20px;
    border: none;
    /* box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19); */
    background-color: white;
    box-shadow: 0 0 10px 7px white;
    color: #000;
    font-weight: bold;
    font-size: 18px;
    padding: .5rem 1rem;
    margin: 1.5rem 0 1rem 0; 
}

.experiencia-info__view:hover {
    box-shadow: 0 0 10px 7px rgba(251,69,143,1);
    border: 1px solid rgba(251,69,143,1);
    background-color: rgba(251,69,143,1);
    color: #fff;
}

.experiencia-info__view:active {
    box-shadow: 0 0 10px 7px white;
    border: 1px solid white;
    background-color: white;
    color: rgba(251,69,143,1);
}

.experiencia__imagen {
    width: 100px;
    position: absolute;
    left: 0;
    right: 0;
    top: -12px;
    margin: auto;
}


/*--------------- Desing Responsive ---------------*/

@media screen and (max-width: 650px) {

    .contenedor-experiencia__list {
        margin: 0;
        padding: 0;
    }

    .contenedor-experiencia__item {
        width: 80%;
    }
}

@media screen and (min-width: 651px) and (max-width: 968px) {


}