/* ------------ FOOTER ------------ */

.footer {
    background: var(--color-azul);
    background: linear-gradient(0deg, rgba(100,117,238,1) 0%, rgba(251,69,143,1) 74%); 
    color: var(--color-celeste-claro);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__img {
    width: 450px;
    padding: 1rem;
}

.footer__img:hover {
    -webkit-animation: swing 1s ease;
    animation: swing 1s ease;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}

.footer-info {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 0 2rem 0;
}

.footer-item {
    padding: 1rem; 
    width: auto;
    box-shadow: 0 0 15px var(--color-celeste); 
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-item:hover {
    -webkit-animation: swing 1s ease;
    animation: swing 1s ease;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}

.footer-item__svg{
    height: 20px;
}

.item-head {
    display: flex;
    justify-content: center;
    align-items: center;
     margin-bottom: .5rem;
}

.item-head__span {
    color: var(--color-negro);
    font-weight: bold; 
}

.footer-item__info {
    color: var(--color-celeste);
    text-decoration: none;
}

.footer-item__info:hover {
    font-weight: bold; 
}

@-webkit-keyframes swing { 
    15% {   -webkit-transform: translateX(5px);
            transform: translateX(5px);
        }
    30%
        {
            -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
        }
    50%
        {
            -webkit-transform: translateX(3px);
            transform: translateX(3px);
        }
    65%
        {
            -webkit-transform: translateX(-3px);
            transform: translateX(-3px);
        }
    80%
        {
            -webkit-transform: translateX(2px);
            transform: translateX(2px);
        }
    100%
        {
            -webkit-transform: translateX(0);
            transform: translateX(0);
        }
}

@keyframes swing {
    15% {
            -webkit-transform: translateX(5px);
            transform: translateX(5px);
    }
    30% {
            -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
    }
    50% {
            -webkit-transform: translateX(3px);
            transform: translateX(3px);
    }
    65% {
            -webkit-transform: translateX(-3px);
            transform: translateX(-3px);
    }
    80% {
            -webkit-transform: translateX(2px);
            transform: translateX(2px);
    }
    100% {
            -webkit-transform: translateX(0);
            transform: translateX(0);
    }
}

/* ------------ RESPONSIVE DESIGN ------------ */

/* celulares */
@media screen and (max-width: 651px) { 

    /* ------------ FOOTER ------------ */

    .footer-info {
        flex-direction: column;
        justify-content: center;
        padding-top: 0;
    }

    .footer-item {
        box-shadow: none; 
    }

    .footer__img {
        width: 100%;
        padding: 2rem;
    }
    
}

/* tablets */
@media screen and (min-width: 652px) and (max-width: 868px) {

    /* ------------ FOOTER ------------ */
   
    .footer-info {
        flex-direction: column;
        justify-content: center;
        margin-top: 1rem;
    }

    .footer-item {
        box-shadow: none; 
    }

}