/* ------------ FORMACION ------------ */

#formacion {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.formacion__mujer2 {
    position: absolute;
    left: 0;
    right: 0;
    top: 20px;
    margin: auto;
}

.contenedor-formacion {
    /* background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(100,117,238,1) 5%, rgba(0,0,0,1) 100%); */
    /* background: rgb(251,69,143);
background: linear-gradient(180deg, rgba(100,117,238,1) 0%, rgba(251,69,143,1) 100%); */
/* background: rgb(255,255,255);
background: linear-gradient(180deg, rgba(100,117,238,1) 0%, rgba(255,255,255,1) 100%); */
background: rgb(0,0,0);
background: linear-gradient(180deg, rgba(100,117,238,1) 2%, rgba(0,0,0,1) 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 6rem 0; 
}

.contenedor-formacion__title {
    margin: 1.5rem;
    padding: 1rem;
    /* border: 1px solid #000;
    box-shadow: 0 0 20px var(--color-gris-oscuro); */
    border-radius: 1rem;
    background-color: black;
    color: white;
    box-shadow: 0 0 15px 5px #fff;
}

.contenedor-formacion__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 2rem;
}

.contenedor-formacion__item {
    color: #c3c1c1;
    background-color: black; 
    display: flex;
    justify-content: start;
    border: 2px solid #000;  
    border-radius: 1rem;
    width: 70%;
    height: auto;
    margin-bottom: 2rem;
    box-shadow: 0 0 10px 5px rgba(100,117,238,1);
    transition: 1.5s;
}

.contenedor-formacion__item:hover {
    color: #fff;
    transform: scale(1.1);
    box-shadow: 0 0 10px 5px white;
    text-shadow: 0 0 15px white;
    background-color: transparent;
}

.formacion-imagen {
    width: 250px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #000;
    border-radius: 1rem;
}

.formacion-imagen > img {
    border-radius: 1rem;
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.formacion-info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 1rem;
    width: 80%;
    /* text-shadow: 0 0 15px white; */
}

.formacion-info span {
    /* text-shadow: 0 0 15px white; */
    letter-spacing: 1px;
    text-decoration: underline;
    margin-right: .5rem;
    color: white;
    font-weight: bolder;
}


/* ------------ RESPONSIVE DESIGN ------------ */

/* celulares */
@media screen and (max-width: 651px) { 

    /* ------------ FORMACION ------------ */

    .contenedor-formacion__item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 80%;
        transition: none;
        box-shadow: 0 0 10px 5px white;
    }

    .formacion-info {
        padding-top: 1.5rem;
        width: 90%;
    }

    .formacion-imagen {
        width: 100%;
        height: auto;
    }

    .formacion-imagen > img {
        object-fit: cover;
    }

    /* .formacion-imagen {
        width: 250px;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid #000;
        border-radius: 1rem;
    }
    
    .formacion-imagen > img {
        border-radius: 1rem;
        width: 100%;
        height: 100%;
        object-fit: fill;
    } */



}

/* tablets */
@media screen and (min-width: 652px) and (max-width: 868px) {

    /* ------------ FORMACION ------------ */
   
    .contenedor-formacion__item {
        width: 80%;
        transition: none;
    }

    .formacion-imagen {
        width: 200px;
    }

}