@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');

:root {
    --color-gris-oscuro: rgb(35, 63, 75);
    --color-rosa: rgb(245, 205, 184);
    --color-rosa-fuerte: rgb(227, 165, 184);
    --color-celeste: rgb(159, 189, 222);
    --color-celeste-claro: rgb(242, 237, 237);
    --color-azul: rgb(25, 129, 231);
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Tilt Neon', cursive;
}

/* ------------ HEADER ------------ */

header {
    display: flex;
    background-color: rgba(251,69,143,1);
    width: 100vw;
    min-height: 76px;  
    display: flex;
    justify-content: end;
    align-items: center;
}

nav {
    width: 100%;
}

.logo {
    width: 40px;
    height: 40px; 
    position: absolute;
    left: 20px;
    top: 10px;
    object-fit: cover;
    padding: .5rem;
    border-radius: 1rem;
    border: 1px solid black;
    box-shadow: 0 0 15px 5px black;
}

.logo:hover {
    box-shadow: 0 0 15px 5px white;
}

.nav {
    display: flex;
    justify-content: end;
    list-style-type: none;
    margin-right: 2rem;
}

.nav__item {
    margin: auto 1rem;
    height: 100%;
}

.nav__link {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    /* text-shadow: 0px 5px 15px #000; */
    /* text-shadow: 0 0 15px #000; */
}

.nav__link:hover {
    /* font-weight: normal; */
    color: white;
    text-shadow: 0px 5px 10px black;
    /* text-decoration: underline; */
    vertical-align: sub;
}

.menu {
    display: none;
}

/* ------------ RESPONSIVE DESIGN ------------ */

/* celulares */
@media screen and (max-width: 651px) { 

    /* ------------ HEADER ------------ */

    header {
        justify-content: center;
        background-color: #000;
        min-height: 86px; 
    }

    .logo {
        width: 30px;
        height: 30px;
        left: 20px;
        top: 20px; 
        background-color: white;
        border: 1px solid white;
        box-shadow: 0 0 15px 5px white;
    }

    .nav {
        width: 100%;
        background-color: black;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        top: 86px;
        margin-bottom: 76px;
        border-bottom: 1px solid white;
    }

    .nav__link {
        color: #fff;
    }

    .nav__disabled {
        display: none;
    }

    .nav__item {
        padding: 1rem 0;
        width: 100%;  
        text-align: center; 
        border-bottom: 1px solid white;     
    }

    .nav__item:first-child {
        border-top: 2px solid white; 
    }
    
    .menu {
        display: block;
        background-color: white;
        padding: .7rem;
        border-radius: 10px;
        position: absolute;
        right: 0;
        top: 0;
        width: 25px;
        height: 25px; 
        margin: 1rem 2rem 1rem 1rem; 
    }

}

/* tablets */
@media screen and (min-width: 652px) and (max-width: 868px) {

    /* ------------ HEADER ------------ */

    .logo {
        width: 30px;
        height: 30px; 
        position: absolute;
        left: 25px;
        top: 15px;
    }

    .nav {
        width: auto;
        justify-content: center;
        margin-left: 3.5rem;
        margin-right: 0;
    }

}





